
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form{
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 30px;
}
.header{
    text-align: center;
    margin-bottom: 20px;
    background: linear-gradient(to left,rgb(15, 196, 15),rgb(35, 141, 173), rgb(13, 180, 13));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
input{
    border: none;
    color: rgb(13, 13, 14);
    width: 98%;
    border-bottom: 1px solid gray;
    background-color: transparent;
}
@media screen and (max-width:912px) {
    .form{
        width: 80%;
    }
}
input:focus{
    border: none;
    padding: 5px;
    outline: none;
    border-bottom: 2px solid rgb(10, 121, 10);
}
textarea{
    border: none;
    width: 100%;
    border-bottom: 1px solid gray;
    outline: none;
    background-color: transparent;
}
textarea:focus{
    border-bottom: 2px solid rgb(10, 121, 10);
}
label{
    color: rgb(63, 58, 58);
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}
label:active{
    color: rgb(77, 77, 224);
}
.control{
    width: 100%;
}
.control .form_control{
    width: 100%;
    display: block;
}
.btn{
    padding: 7px 30px;
    margin-top: 15px;
    width: 150px;
    outline: none;
    color: #f1f1f1;
    font-weight: bold;
    border: none;
    background: rgb(10, 172, 10);
}
.head{
    color: white;
    padding-top:150px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.head a{
    text-decoration: none;
    color: #fff;
}
.head span{
    color: rgb(2, 12, 2);
}
.head a:hover{
    text-decoration: none;
    color: green;
}