.header{
    z-index: -1;
    height: 100vh;
    width:100%;
    background:linear-gradient(rgb(0,0,0,0.1),rgb(8, 80, 8)), url(images/team.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.feature{
    margin-top:50px;
    display:block;
    justify-content:center;
}
.feature h1{
    font-size: 24px;
}
.feature p{
    font-size: 16px;
    text-align: justify;
}
.feature-head{
    display:flex;
    background: url(../Components/images/Partner/bg-art-4.png);
    flex-direction:column;
    align-items:center;
    line-height:0px;
}
.feature-head p{
    color:rgb(8, 99, 8);
    font-size:16px;
    font-weight:bold;
    position:relative;
    z-index:1;
}
.feature-head p::before{
    content:'';
    position:absolute;
    width:30px;
    top:-20px;
    height:30px;
    transform: rotate(10deg);
    z-index:-1;
    border-top-left-radius:50px;
    border-bottom-right-radius:50px;
    background:linear-gradient(rgb(9, 88, 9),white);
}
.feature-head h1{
    font-size:20px;
    font-weight:bold;
}
 .box{
    background:url(../Components/images/Partner/gida.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80px;
    margin: 1px;
    width: 80px;
}
 .box1{
    background:url(../Components/images/Partner/web3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80px;
    margin: 1px;
    width: 60px;
}

 .box2{
    background:url(../Components/images/Partner/blockhub.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80px;
    margin: 1px;
    width: 80px;
}
 .box3{
    background:url(../Components/images/Partner/block4u.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80px;
    margin: 1px;
    width: 80px;
}
@media screen and (max-width:575px) {
    .box1{
        background-size: contain;
    }
    .box{
        background-size: 350px; 
    }
    .box3{
        background-size: 250px; 
    }
}
.features{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .feature1{
    border: 2px solid green;
    height: 200px;
    border-radius: 50%;
    width: 200px;
    margin: 50px;
    background-color: white;
    background-image: url(./images/kevin.jpg);
    background-size: cover;
}
.features .feature1 h4,
.features .feature2 h4,
.features .feature3 h4{
    color:  black;
    margin-top: 200px;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}
.features .feature1 h5,
.features .feature2 h5,
.features .feature3 h5{
    color:  black;
    text-align: center;
    font-size: 14px;
}

 .feature2{
    border: 2px solid green;
    height: 200px;
    margin: 50px;
    border-radius: 50%;
    width: 200px;
    background-color: white;
    background-image: url(./images/found.jpg);
    background-size: cover;
}
 .feature3{
    border: 2px solid green;
    height: 200px;
    margin: 50px;
    border-radius: 50%;
    width: 200px;
    background-image: url(./images/victor.jpg);
    background-color: white;
    background-size: cover;
}
.feature .feature-skills{
   margin:auto;
   padding: 20px;
   background-color: rgb(128, 128, 128, 0.1);
   width: 90%;
   box-shadow:5px 10px 18px #888888;
}
.feature-skills p{
    margin: auto;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: oblique;
    padding: 10px;
    color: rgb(68, 63, 63);
    text-align: left;
    justify-content: center;
}
.feature-skills a{
    color: rgb(68, 63, 63);
    text-decoration:none;
}
.feature-skills a:hover{
    color: green;
}
.feature-skills i{
    color: green;
}
.image{
    margin: auto;
    height: 220px;
    margin-bottom: 15px;
}
.image img{
    border: 2px solid gray;
    border-radius: 10px;
    width: 320px;
    margin-left: 10px;
    height: 220px;
}
.button{
    margin: 50px;

}
.button span{
    color: green;
    font-weight: bold;
    cursor: pointer;
    font-family: sans-serif;
}
.button span:active{
    color: rgb(230, 17, 17);
    font-weight: bold;
    border-bottom: 2px solid green;
}
.button span:hover{
    color: gray;
    font-weight: bold;
    border-bottom: 2px solid green;
}
.images{
     border: 2px solid white;
     box-shadow: 5px 12px 18px #888888;
     width: 90px;
     height: 400px;
     background-image: url(../Components/images/conf.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     border-radius: 10px;
}
.imagesr{
     border: 2px solid white;
     box-shadow: 5px 12px 18px #888888;
     width: 90px;
     height: 400px;
     background-image: url(../Components/images/event2.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     border-radius: 10px;
}
.images:hover{
    box-shadow:5px 10px 18px #888888;
    height: 410px;
}
.imagesr:hover{
    box-shadow:5px 10px 18px #888888;
    height: 410px;
}